<nav style="background-color: #333; padding: 1em; color: white;">
  <%= link_to "My Portfolio", root_path, style: "color: white; margin-right: 1em; text-decoration: none;" %>
  <%= link_to "Artworks", artworks_path, style: "color: white; margin-right: 1em; text-decoration: none;" %>
  <%= link_to "About Me", about_path, style: "color: white; margin-right: 1em; text-decoration: none;" %>
  <%= link_to "Contact", contact_path, style: "color: white; text-decoration: none;" %>
</nav>